.dashboard-main-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.dashboard-content-container {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 35px;
}


.main-title {
  padding-left: 30px;
  margin-top: 50px;
}

.dashboard-content-title {
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding-bottom: 20px;
  justify-content: center;
   h2 {
     font-size: 4rem;
   }
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5em;
  align-content: space-between;
  justify-content: space-between;
  align-items: end;
  justify-items: center;
}

.booking-card {
    background: #f4f4f4;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    max-height: 475px;
    min-height: 475px;
    background: linear-gradient(0.35turn, #c0ebea, #f9f9f9);
}

.booking-card img {
  min-height: 150px;
  max-height: 150px;
  min-width: 250px;
  max-width: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sneaker-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.sneaker-content>* {
  flex: 1 1 160px;
  margin: 10px;
  }


.sneaker-content-details h6 {
  margin-left: 65px;
  margin-bottom: 5px;
}

.status-button {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: "Bebas Neue", "cursive";
  font-weight: 500;
  font-size: x-large;
    #pending {
      padding: 5px;
      background: linear-gradient(0.35turn, #f69d3c, #ebf8e1);
      border-radius: 5%;
    }
    #accepted {
      padding: 5px;
      background: linear-gradient(0.35turn, #3fa660, #ebf8e1);
      border-radius: 5%;
    }
    #refused {
      padding: 5px;
      background: linear-gradient(0.35turn, #d22e2e, #ebf8e1);
      border-radius: 5%;
    }
}

.approve-refuse-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
    #approve {
      padding: 10px;
      background: linear-gradient(0.35turn, #3fa660, #ebf8e1);
      border-radius: 5%;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    }
    #refuse {
      padding: 10px;
      background: linear-gradient(0.35turn, #d22e2e, #ebf8e1);
      border-radius: 5%;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
}
