// Specific CSS for your home-page

.search-bar-home {
 position: relative;
margin: 0 200px;
border-radius: 5px;
}

.search-bar-home .btn {
  position: absolute;
  right: 200px;
  left: 294px;
  margin-top: 10px;
  background-color: rgb(98, 98, 214);
  border-color: rgb(98, 98, 214);
  border-radius: 10px;
}

.btn-sneakers-container{
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.container-text {
  margin-left: 200px;
}
