// Import page-specific CSS files here.
@import "home";

.main-container {
  display: flex;
  padding: 0 20px;



}

#cards {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px 20px;
}

.map {
  height: 100vh;
  position: sticky;
  top: 0;
}


.card
img {
 height: 250px;
 object-fit: cover;
 padding-bottom: 20px;
}

h4 {
font-family: roboto;
font-style: normal;
font-weight: bold;
text-align: center;
color: #595050;
font-size: 20px;
}

h1 {
font-family: Jaldi;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 68px;
color: #595050;
text-align: center;
}

.card {
  background: rgb(244,244,244);
  border: none;
  height: 400px;
  width: 250px;


}
#description {
  border: solid rgba(44, 40, 40, 0.151);
  border-radius: 10%;
}

a {
  text-decoration: none;
  color: #000;
}
