.card-log {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  flex-direction: column;
  width: 450px;
  margin:20px auto;
  margin-bottom: 230px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: "Bebas Neue", "cursive";
  margin-bottom: 5px;
}
.form-check-label {
  font-family: "Bebas Neue", "cursive";
}

.form-actions {
  font-family: "Bebas Neue", "cursive";
  text-align: center;
}

.form-control {
  font-family: "Bebas Neue", "cursive";
}

.card-text {
  font-family: "Bebas Neue", "cursive";
}
