.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background-color: rgb(98, 98, 214);
  border-color: rgb(98, 98, 214);
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.content-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5em;
  align-content: space-between;
  justify-content: space-between;
  align-items: end;
  justify-items: center;
}

.card {
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  max-width: 250px;
  max-height: 400px;
  min-height: 400px;
  background: linear-gradient(0.35turn, #c0ebea, #f9f9f9);
}

.card-image img{
  min-height: 150px;
  max-height: 150px;
  min-width: 250px;
  max-width: 250px;
  object-fit: cover;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.card-details h4 {
  margin-top: 0px;
}
.card-details h5 {
  margin-left: 10px;
  margin-bottom: 5px;
}

.map {
  // height: 100vh;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:beige;
}

.card:hover {
  background: linear-gradient(0.35turn, #c0ebea, #8f6bbf);
}
