<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaper.dog/large/20456942.jpg);">
  <div class="container">
    <div class="banner-title">
      <h1><strong>Pick a Sneak</strong>!</h1>
      <p>Rent your sneakers to others, find sneakers to rent !</p>
    </div>
    <%= render 'shared/searchbar' %>
    <%# <a class="btn btn-flat" href="#">Find sneakers</a> %>
    <br>
    <br>
    <div class="btn-sneakers-container">
      <%= link_to "All sneakers", sneakers_path, class: "btn btn-flat btn-sneakers" %>
    </div>
  </div>
</div>
