<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaper.dog/large/20456942.jpg);">
  <div class="container">
    <div class= "container-text">
      <h1><strong>Pick a Sneak</strong>!</h1>
      <p>Rent your sneakers to others, find sneakers to rent !</p>
    </div>
    <div class="search-bar-home" >
    <%= form_tag sneakers_path, class: "home-form", method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your sneakers"%>
  <%= submit_tag "Pick'a'Sneack", class: "btn btn-primary", id:"form-btn"  %>
  </div>
<% end %>

    <br>
    <br>
    <div class="btn-sneakers-container">
      <%= link_to "All sneakers", sneakers_path, class: "btn btn-flat btn-sneakers" %>
    </div>
  </div>
</div>
