.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFEBEB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 35px;
  transform: scale(2);
}
.dropdown-menu.dropdown-menu-right {
  left: -312%;
}

.navbar .nav-item {
  box-shadow: black;
}

.navbar-brand {
  transform: rotateZ(45deg);
}
